body{
    font-family: Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: auto;
}

.resume{
    width: 50%;
    margin: 30px;
    padding: 20px;
    background-color: blueviolet;
    border: 20cm;
}

.content{
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}


.photo{
    width: 10px auto;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}

table, th,td{
    border: 1px solid;
}
th,td{
    padding: 10px;
    text-align: left;
}
strong{
    font-weight: bold;
}